body{
    background: #a79191;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}
#form{
    width: 40%;
    padding: 20px;
    display: flex;
    background-color: aqua;
}
button{
    display: block;
    color: black;
    border-radius: 20%;

}
button:hover{
    color: red;
    background: #000;
    border-radius: 20%;
}
.taskList{
    padding: 10px;
    margin-bottom: 2%;
    
}
.tasks{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    width: 100%;
}